/* 
p::first-letter{
    font-size: 3rem;
    color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}
p::first-line{
    background-color: yellow;
}
p::after{
    content: "😁";
}
p::before{
    content: "😆";
}
li{
    list-style: none;
}
li::before{
    content: "🙂";
}
li::marker{
    content: "😇";
}
li::selection{
    background-color: pink;
    color: blanchedalmond;
}
li::after{
    content: var(--emoji-one);
}

:root{
  --name1:rgb(24, 237, 106);
  --name2:rgb(197, 130, 53);  
  --name3:rgb(158, 167, 30);
  --name-one:gold;
  --emoji-one:"🤐";
  --emoji-two: "😅"
}
.one{
    color: var(--name1);
}
.two{
    background-color: var(--name2);
}
.three:hover{
    color: var(--name3);
}
body{
    background-color: var(--name-one);
} */

h1[class="two-one-three"]{
    color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black;
    width: 200px;
}